*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
li{
    list-style-type: none;
}
a,ul li a,#naslov{
    color: #FFFFFF;
    
}
a,ul li a,#naslov,#whatWeDo,#about,#contact{
    font-family: 'Spartan', sans-serif;
}
.nevidljiv{
    display: none;
}
ul li a i{
    margin-left: 5px;
}
ul li a:hover{
    padding-bottom: 5px;
    border-bottom: solid 1px #FFFFFF;
}
#navigacija{
    height: 60px;
    background-color: #A7172A;
    display: flex;
    align-items: center;
}
#logo{
    text-align: center;
}
#logo a{
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}
#lista{
    display: flex;
    justify-content: space-around;
}
.podmeni{
    position: absolute;
    background-color: #A7172A;
    padding: 15px;
    line-height: 2;
}
#cover{
    width: 100%;
    height: 95vh;
    background-image: url('../img/cover2.jpg');
    background-size: cover;
    background-position: bottom;
}
#naslov{
    background-color: rgba(167, 23, 42, 0.85);
    padding: 20px;
    width: 500px;
    position: relative;
    top: 160px;
    left: 400px;
    font-size: 20px;
}
#naslov h2{
    padding-top: 20px;
}
#whatWeDo{
    width: 100%;
    margin: 50px 0px;
    line-height: 25px;
}
#whatWeDo h2{
    margin-bottom: 10px;
}
#whatWeDo img{
    width: 100%;
}
#baner{
    height: 400px;
    background-image: url('../img/baner.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#about,#contact{
    margin: 20px 0px;
    text-align: center;
}
#about h2,#contact h2{
    margin: 20px 0px;
    border-bottom: 1px solid #A7172A;
}
#aboutTekst{
    /* height: 280px; */
    text-align: justify;
    
}
#slajder{
    height: 400px;
    margin-top: 20px;
    background-image: url('../img/about1.jpg');
}
#forma table tr td input{
    margin: 10px;
    border-radius: 5%;
    
    width: 100%;
    font-size: 16px;
}
textarea{
    height: 100px; 
    margin:10px;
    border-radius: 5%;
    resize: none;
    font-size: 16px;
    
}
#ikonice{
    display: block;
    margin-top: 20px;
    padding-left: 100px;
}

.ikonice{
    text-align: left;
    font-size: 34px;
    color: #A7172A;
    margin-bottom: 20px;  
    margin-top: 20px;
}
.ikonice p{
    font-size: 16px;
    padding-top: 5px;
    color: #000000;
}
.ikonice i{
    float: left;
    margin-right: 10px;
}
@media screen and (max-width:600px){
    #naslov{
        display: none;
    }
    #forma table tr td input{
        margin: 0px;
    }
    textarea{
        height: 100px; 
        margin:0px;
        border-radius: 5%;
        resize: none;
        font-size: 16px;
        width: 100%;
    }
    #ikonice{
        display: block;
        padding-left: 30px;
    }
    .ikonice p{
        font-size: 16px;
    }
}